*,*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  font-weight: 700;
  font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace; 
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #7289da;
}

.nav__btn {
  border: none;
  background: none;
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}

.nav__btn:hover {
  cursor: pointer;
}

.currency__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.currency__flex p {
  text-align: center;
}

.rates__container {
  /* width: 70vw; */
  width: 30vw;
  margin: 0 auto;
  padding: 5px;
}


.rate__floats {
  display: flex;
  flex-direction: column;
}

.rates__header {
  margin-top: 20px;
  text-align: center;
  color: #7289da;
}


.rates__title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

.sort__btn {
  margin-top: 100px;
  padding: 1em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
}

.sort__btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: sort__btn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes sort__btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sort__btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.rate__floats {
  text-align: center;
}

.time__refresh {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 20px;
}

.refresh__btn {
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  background-color: #7289da;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.refresh__btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.refresh__btn:hover:after {
  transform: translate(0, 0);
}

.refresh__btn:active {
  background-color:#7289da;
  outline: 0;
}

.refresh__btn:hover {
  outline: 0;
}

.conversion__container {
  padding-top: 10px;
  width: 70vw;
  margin: 0 auto;
}

.conversion__header {
  margin-top: 20px;
  text-align: center;
  color: #7289da ;
}

.currency__div {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
}

.curr__selector {
  height: 30px;
} 